mixin filters(subject)
    p Filters 
        a(href= `/${subject}/all`) All 
        | | 
        a(href=`/${subject}/overdue`) Overdue 
        | | 
        a(href=`/${subject}/checked`) Checked Out 
