mixin filters(subject)
    p Filters 
        a(href= `/${subject}/all/1`) All 
        | | 
        a(href=`/${subject}/overdue/1`) Overdue 
        | | 
        a(href=`/${subject}/checked/1`) Checked Out 
