form
    each label in formLabels
        p
            label(for=`${label.forID}`)= label.text
            if label.text === 'Book' || label.text === 'Patron'     
                select(id=`${label.forID}`)
            else
                input(id=`${label.forID}` type="text")

    p: input(type="submit" value=`Create New ${item}`)
