form
    //include forms/formSet
    //+formSet
    if type == 'details'
        if subject == 'books'
            include forms/details/book
        if subject == 'patrons'
            include forms/details/patron
    if type == 'new'
        if subject == 'books'
            include forms/new/book
        if subject == 'patrons'
            include forms/new/patron
        if subject == 'loans'
            include forms/new/loan
    if type == 'return'
        include forms/return/book

    -const buttonText = (type === 'details') ? 'Update' : `Create New ${item}`
    p: input(type="submit" value=`${buttonText}`)

//-//if details, loan history table here:
if type === 'details'
    -subject = 'loans';
    h2 Loan History
    include table
