//-generate table headers based on subject
table
    thead
        tr
            each tableHeader in tableHeaders
                th= tableHeader
    tbody
        each row in rows
            tr
                each val, key in row 
                    if key === 'book' || key === 'patron'
                        td: a(href=`/${key}s/details`)= val
                    else
                        if key === 'action' && val
                            td: a(href="books/return" class="button")= val
                        else
                            td= val
