//-generate table headers based on subject
table
    thead
        include tables/thSet
        +thSet
    tbody
        include tables/tdSet
        if rows
            each row in rows
                +tdSet(row)
