//-generate table headers based on subject
table
    thead
        tr
            each tableHeader in tableHeaders
                th= tableHeader
    tbody
        each row in rows
            tr
                each col, idx in row 
                    if (subject === 'loans' && (idx === 0 || idx === 1)) || idx === 0 
                        td: a(href="")= col
                    else
                        td= col
