extends layout 

block content
    title= title
    h1= title
    p Welcome to Library Manager
    ul
        li Books
        ul
            li: a(href="/books/new") New Book
            li: a(href="/books/all/1") List All
            li: a(href="/books/overdue/1") List Overdue
            li: a(href="/books/checked/1") List Checked Out

        li Patrons
        ul
            li: a(href="/patrons/new") New Patron
            li: a(href="/patrons/all/1") List All
        
        
        li Loans
        ul
            li: a(href="/loans/new") New Loan
            li: a(href="/loans/all/1") List All
            li: a(href="/loans/overdue/1") List Overdue
            li: a(href="/loans/checked/1") List Checked Out 

