doctype html
html(lang="en")
    head
        block title
        link(rel='stylesheet', href='/static/stylesheets/style.css')
    body
        include includes/navigation.pug
        block header
        block content


