extends layout
block content
    h1= title

    //-show only table when viewing data
    if type != 'new'
        p: a(href="new", class="button", class="button") Create New #{item}

        //-don't show filer when creating new item
        //-or when viewing patron data
        if type != 'new' && subject != 'patrons'
            include includes/filterHeader

        include includes/table

    else
        include includes/form
