mixin search(filter)
    form(class="search" action=`/books/${filter}/search/title` method='post')
        p 
            label(for="title-search") Title
            input(id="title-search" name="val" type="text")
            input(type="submit" value="Search")

    form(class="search" action=`/books/${filter}/search/author` method='post')
        p 
            label(for="author-search") Author
            input(id="author-search" name="val" type="text")
            input(type="submit" value="Search")

    form(class="search" action=`/books/${filter}/search/genre` method='post')
        p 
            label(for="genre-search") Genre
            input(id="genre-search" name="val" type="text")
            input(type="submit" value="Search")
