p 
    label(for="title") Title
    input(id="title" type="text" required)
p 
    label(for="author") Author            
    input(id="author" type="text" required)
p 
    label(for="genre") Genre            
    input(id="genre" type="text" required)
p 
    label(for="first_published") First Published 
    input(id="first_published" type="text" required)
