-let _title = '';

mixin titleSet(subject, type)
    case type
        when 'all'
            case subject
                when 'books'
                    include books/all
                when 'patrons'
                    include patrons/all
                when 'loans'
                    include loans/all
        when 'overdue'
            case subject
                when 'books'
                    include books/overdue
                when 'loans'
                    include loans/overdue
        when 'checked'
            case subject
                when 'books'
                    include books/checked
                when 'loans'
                    include loans/checked
        when 'details'
            case subject
                when 'books'
                    include books/details
                when 'patrons'
                    include patrons/details
        when 'new'
            case subject
                when 'books'
                    include books/new
                when 'patrons'
                    include patrons/new
                when 'loans'
                    include loans/new
        when 'return'
            case subject
                when 'books'
                    include books/return
    title= _title
    h1= _title
